# Mars Scraping

Complete your initial scraping using Jupyter Notebook, BeautifulSoup, Pandas, and Requests/Splinter.

In [1]:
import pandas as pd
import datetime as dt
from flask import Flask
import requests
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager

### NASA Mars News

1. Scrape the Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [C:\Users\Courtney\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

In [3]:
mars_news = 'https://redplanetscience.com/'
browser.visit(mars_news)

In [4]:
# Create BeautifulSoup object; parse with 'html.parser'
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [5]:
# Retrieve the News Title
news_title = soup.body.find('div', class_='content_title')
news_title.text

"InSight's 'Mole' Team Peers into the Pit"

In [6]:
# Retrieve the paragraph text
news_p = soup.find('div', class_='article_teaser_body')
news_p.text

'Efforts to save the heat probe continue.'

### JPL Mars Space Images - Featured Image

1. Visit the url for the Featured Space Image site https://spaceimages-mars.com/.
2. Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called 'featured_image_url'.
3. Make sure to find the image url to the full size .jpg image.
4. Make sure to save a complete url string for this image.

In [7]:
mars_images = 'https://spaceimages-mars.com/'
browser.visit(mars_images)

In [8]:
# Create BeautifulSoup object; parse with 'html.parser'
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [9]:
image_url = soup.find('img', class_='headerimage')['src']
featured_image_url = f'https://spaceimages-mars.com/{image_url}'
featured_image_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

### Mars Facts

Visit the Mars Facts webpage https://galaxyfacts-mars.com/ and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.


Use Pandas to convert the data to a HTML table string.

In [10]:
#defining target url
mars_facts =  'https://galaxyfacts-mars.com/'

In [11]:
# use pandas to read in html from previously defined url
facts = pd.read_html(mars_facts)

# grabbing the second table with only Mars facts
df = facts[0]
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [12]:
#renaming columns
df.rename(columns={0:'Description', 1:'Mars', 2:'Earth'}, inplace=True)

In [13]:
df.set_index('Description', drop=True, inplace=True)

In [14]:
df.drop(['Mars - Earth Comparison'], axis=0, inplace=True)
df

                               Mars            Earth
Description
Diameter:                  6,779 km        12,742 km
Mass:               6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                            2                1
Distance from Sun:   227,943,824 km   149,598,262 km
Length of Year:      687 Earth days      365.24 days
Temperature:           -87 to -5 °C      -88 to 58°C

In [15]:
#converting df to html table for later use
df.to_html('mars_facts_table.html')

In [26]:
#saving table to variable for app
mars_table = df.to_html().replace('\n', '')
mars_table

'<table border="1" class="dataframe table table-striped">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars</th>      <th>Earth</th>    </tr>    <tr>      <th>Description</th>      <th></th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Diameter:</th>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>Moons:</th>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>Distance from Sun:</th>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>Length of Year:</th>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>Temperature:</th>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

### Mars Hemispheres

Visit the astrogeology site https://marshemispheres.com/ to obtain high resolution images for each of Mar's hemispheres.

You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.

Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.

Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for each hemisphere.

In [17]:
url = 'https://marshemispheres.com/'
browser.visit(url)

In [18]:
# Create BeautifulSoup object; parse with 'html.parser'
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [19]:
hemisphere_image_urls = []
results = soup.find_all('div', class_='item')
for result in results:
    images = {}
    title = result.find('h3').text
    images['title'] = title[:-9]
    browser.find_by_text(title).click()
    
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    
    images['url'] = url + soup.find('img', class_='wide-image')['src']
    browser.back()
    hemisphere_image_urls.append(images)

In [20]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere',
  'url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere',
  'url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [21]:
browser.quit()

## Step 2 - MongoDB and Flask Application

1. Start by converting your Jupyter notebook into a Python script called scrape_mars.py with a function called scrape that will execute all of your scraping code from above and return one Python dictionary containing all of the scraped data.